/* color pattern
-------------------------
#2E3532 - black - red
#B0413E
#E0E2DB - white
#D2D4C8 - white/pastel
#D3EFBD - tea green
*/


/* Global styles
-------------------------*/
html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body{
  font-family: ff-basic-gothic-pro, sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 0;
}
h3{
  font-family: ff-basic-gothic-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
}
h1, h2{
  font-family: 'pt-sans-pro-caption';
}
h1{
  font-size: 60px;
}
h2{
  font-size:  30px;
  margin-top: 0;
}
a{
  color: #B0413E;
}
a:hover{
  text-decoration: none;
  color: #D2D4C8;
}
.content-wrap{
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: auto;
}
.col-narrow{
  width: 30%;
  float: left;
  min-height: 100px;
}
.col-wide{
  width: 70%;
  float: left;
  min-height: 100px;
}
.uppercase{
  text-transform: uppercase;
}
.btn{
  text-decoration: none;

  background: #B0413E;
  color: white;
  /* padding: 10px; */
  display: inline-block;
  float: left;
}

/* Header and Footer
-------------------------*/
header, footer{
  background: #2E3532;
  color: #E0E2DB;
}
/* header */
header{
  padding-top: 50px;
  position: relative;
}
header .col-wide{
    padding-left: 40px;
}
header .col-narrow{
  min-height: 0;
}
.profile-img{
  border-radius: 13%;
}
.download{
  position: absolute;
  bottom: 0;
  right: 0px;
}
header h1, header h2{
  margin: 0;
  color: #E0E2DB;
}
header h2{
  font-size: 25px;
}
header p, header ul{
  color: #D3EFBD;
}
/* footer */
footer {
  text-align: center;
}
.contact-info a{
  color: #D3EFBD;
  padding: 10px;
  display: inline-block;
}
.contact-ingo a:hover{
  color: #B0413E;
}
footer .content-wrap{
  padding-bottom: 5px;
}
.copyright{
  margin: 40px auto 0;
  display: inline-block;
  color: #D3EFBD;
}
/* Navigation
-------------------------*/
nav {
  text-align: center;
  background: white;
  position: fixed;
  z-index: 500;
  top: 0;
  width: 100%;
}
nav a{
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 1000px;
}

/* Work Experience
-------------------------*/
.work{
  background: #E0E2DB;
}
h3 ~ p{
  margin: 0;
}
.job-description p:first-of-type{
  margin-top: 0;
}
.job-description{
  margin-bottom: 20px;
}

/* Education
-------------------------*/
.education{
  /* background: #D3EFBD; */
  background: linear-gradient(rgba(211, 239, 189,0.8),rgba(211, 239, 189,0.8)),
              url(../images/frankfurt.jpg) no-repeat fixed;
  background-size: cover;
}
p + h3{
  margin-top: 30px;
}
